@page
@model Ecom.Pages.Categories.DeleteModel
<form method="post">
    <div class="border p-3 mt-4">
        <div class=" row pb-2 ">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <input asp-for="Category.Id" hidden />
        <div class="row mb-3">
            <label asp-for="Category.Name" class="p-0"></label>
            <input asp-for="Category.Name" type="text" class="form-control" disabled="disabled" />
        </div>
        <div class="row mb-3">
            <label asp-for="Category.DisplayOrder" class="p-0"></label>
            <input asp-for="Category.DisplayOrder" type="number" class="form-control" disabled="disabled" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-page="categories/Index" class="btn btn-outline-secondary form-control">Back</a>
            </div>
        </div>
    </div>
</form>

